@font-face {
    font-family: SevenSeg;
    src: url(./fonts/fs-sevegment.ttf);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
    width: 98vw;

    background-color: #475357;
    /* background-color:rgb(158, 165, 144); */
}

button {
    width: 65px;
    height: 65px;
    border-radius: 2px;
    padding: 0px;

    font-family: "Varela Round", sans-serif;
    font-size: 30px;
    border-style: none;
    background-color: white;
    color: rgb(48, 48, 48);

    /* Consider adding a box shadow that is solid to give the illusion of button depth */
}

#TI-logo {
    height: 60px;
    margin: 0px 5px;
}

#logo-txt {
    height: 40px;
    margin: 0px;
    margin-top: 12px;

    font-family: "Varela Round", sans-serif;
    font-size: 35px;

    color: #D5D5B5;
    text-shadow: 5px 5px rgba(43, 43, 43, 0.2);;
}

#zero-btn {
    width: 102.5px
}

#equals-btn {
    width: 102.5px;
    background-color: orange;
}

#filler-div {
    width: 65px;
}

.operator-btn {
    background-color: #D5D5B5;
}

.clear-btns {
    background-color: #D5D5B5;
}

#calc-border {
    border-radius: 10px;
    padding: 10px;
    background-color: #D5D5B5;
    box-shadow: 5px 5px 8px 1px rgba(0,0,0,.6);
}

#calc-container {
    display: flex;
    flex-direction: column;

    width: min-content;
    padding: 5px;

    background-color: #3C444A;
    border-radius: 3px;
}

#display-area {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    align-content: space-between;
    height: 72.5px;
    border-radius: 2px 2px 2px 2px;
    margin: 5px;

    background-color: rgb(97, 21, 21, 50%);
    box-shadow: 5px 5px 5px 1px rgba(43, 43, 43, 0.2);
}

.result-txt {
    width: 26px;
    height: 70px;
    margin: 0px 5px;

    align-content: center;
    text-align: center;
    font-family: "SevenSeg", sans-serif;
    font-size: 40px;
    
    color: rgb(196, 71, 71);
}

#logo-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 5px;
    margin-bottom: 10px;
    
    border-bottom: 2px solid #30363b;
    box-shadow: 0px 3px 0px 0px rgba(43, 43, 43, 0.075);
    
    height: 60px;
}

#input-container {
    display: flex;
    flex-direction: column;
    gap: 10.4px;
    margin: 5px;
}

#top-clear-operands {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    gap: 10.4px;
}

#nums-operands-container {
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
}

#nums-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10.4px;
}

#side-clear-operands {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10.4px;
}

#zero-decimal-equal-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10.4px;
}

.switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 65px;
    min-height: 65px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 20px;
    height: min-content;
    padding: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    transition: .4s;
    transform: rotate(-90deg);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 9px;
    width: 10px;
    left: 6px;
    bottom: 6px;
    border-radius: 1px;
    background-color: rgb(41, 41, 41);
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:checked + .slider:before {
    transform: translateX(19px);
  }